* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Шрифт без засечек*/
body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

/*Чтобы картинки не стаовились больше чем родитель*/
img {
  max-width: 100%;
}

@font-face {
  font-family: "Museo Cyrillic-900";
  src: url("../fonts/MuseoCyrillic-900.woff2") format("woff2"),
    url("../fonts/MuseoCyrillic-900.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Шапка сайта*/
.header {
  position: fixed;
  width: 100%;
  top: 0; /*Задаем жесткую фиксаццию, чтобы работало во всех браузерах*/
  left: 0; /*Задаем жесткую фиксаццию, чтобы работало во всех браузерах*/
  z-index: 3;
  background-color: #f1f1f1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  margin: auto;
  padding: 22px 0;
}

.logo {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 22px;
  color: #202020;
}

.login {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #202020;
}

/*Главная секция*/
.hero-container {
  display: flex;
  max-width: 1140px;
  margin: auto;
  align-items: center;
}

.hero {
  margin-top: 63px; /*Потому что при прикреплении шапки сайта слетел отступ - задаем его еще раз :) - делаем это, чтобыглавный контент не прилипалк шапке*/
  padding-top: 60px;
  padding-bottom: 70px;
}

.hero-image-block {
  position: relative;
  margin-right: 120px;
}

.sale {
  position: absolute;
  top: 23px; /*Отступает от верха на 23px*/
  right: 0; /*Прижимается к правой части*/
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  background-color: #c93535;
  padding: 12px 17px;
}

.hero-author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.hero-title {
  font-family: "Museo Cyrillic-900";
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.hero-price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.pricetag {
  font-weight: 400;
  font-size: 55px;
  margin-right: 69px;
}

.add-favorites {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: inherit; /*Значит, что нужно взять свойство колор как у родителя*/
  margin-left: 65px;
}

.favorites-text {
  padding-left: 10px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.button-read {
  cursor: pointer;
  border-color: #f89c02;
  color: #f89c02;
  margin-right: 20px;
  background-color: transparent;
}

.button-read:hover {
  background-color: #f89c02;
  border-color: #f89c02;
  color: #ffffff;
  margin-right: 20px;
}

.button-buy {
  border-color: #f89c02;
  color: #f89c02;
  text-decoration: none;
}

.button-buy:hover {
  background-color: #f89c02;
  border-color: #f89c02;
  color: #ffffff;
  margin-right: 20px;
}

/*О книге*/
.about {
  background-color: #f1f1f1;
}

.section-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.about-container {
  display: flex;
  align-items: flex-start; /*Выравнивание по верху*/
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  padding: 99px 0;
}

.about-book {
  max-width: 454px;
  flex-shrink: 0; /*Это говорит о том,что блок не должен сжиматься*/
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-author {
  display: flex;
  flex-wrap: wrap;
  max-width: 552px;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  padding: 68px 53px;
  align-items: center;
}

.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.author-name {
  margin: 0; /*Сброс отступов*/
  font-size: 16px;
  font-weight: 700px;
  margin-bottom: 14px;
}

.author-link {
  font-size: 16px;
  font-weight: 700px;
  text-decoration: none;
  color: #202020;
}

.author-text {
  flex-basis: 100%;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.author-bio {
  padding-left: 22px;
}

/*Читатели*/
.readers-container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
}

.readers {
  margin-top: 87px;
  margin-bottom: 109px;
}

.readers-photos {
  display: flex;
  margin-top: 55px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reader-photo {
  width: 165px;
  height: 165px;
  padding-bottom: 25px;
  padding-right: 25px;
}

/*Подвал сайта*/
.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background-color: #f1f1f1;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
}

.footer-requisites {
  margin-right: 167px;
}

.footer-information {
  margin-right: 158px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
}

.footer-list {
  padding: 0; /*Чтобы не было отступа у элементов списка*/
  list-style: none;
}

.list-item {
  margin-bottom: 16px;
}

.footer-link {
  text-decoration: none;
  color: #202020;
}

/*Кнопка наверх*/
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.8);
}

/*Адаптивная верстка*/
@media (max-width: 1200px) {
  /*В макете контейнер у нас 960px, значит контейнер надо выставить в стилях тоже 960px*/
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 960px;
  }

  .pricetag {
    margin-right: 0px;
  }

  .hero-image-block {
    max-width: 390px; /*Размер картинки тоже изменился на 390px*/
    min-width: 390px; /*Т.к. элемент флексовый, необходимо задать минимальное, чтобы картинка не сжималась*/
    margin-right: 30px;
  }

  .about-book {
    max-width: 367px;
    flex-shrink: 0; /*Это говорит о том,что блок не должен сжиматься*/
  }

  .reader-photo {
    width: 139px;
    height: 139px;
  }

  .add-favorites {
    margin-left: 100px;
  }
}

@media (max-width: 992px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 760px;
  }

  .nav {
    display: none; /*Скрываем блок с навигацией*/
  }

  .hero-image-block {
    min-width: 300px;
    max-width: 300px;
  }

  .hero-author {
    font-size: 22px;
  }

  .hero-title {
    font-size: 46px;
    margin-bottom: 10px;
  }

  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .hero-info {
    margin-bottom: 39px;
  }

  .info-text {
    font-size: 16px;
  }

  .format,
  .age {
    flex-grow: 1; /*Чтобы элементы заняли все доступное место*/
  }

  .hero-price {
    margin-bottom: 39px;
  }

  .hero-buttons {
    display: flex;
  }

  .button {
    padding: 20px 40px;
  }

  .button-buy {
    display: block;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 29px;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .about-book {
    max-width: 100%;
    margin-bottom: 62px;
  }

  .about-author {
    margin: auto;
  }

  .readers-photos {
    max-width: 750px;
    min-width: 750px;
  }

  .reader-photo {
    width: 175px;
    height: 175px;
  }

  .photo-9,
  .photo-10,
  .photo-11,
  .photo-12 {
    display: none;
  }

  .footer-requisites,
  .footer-information {
    margin-right: 65px;
  }

  .add-favorites {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 560px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero-container {
    flex-wrap: wrap;
  }

  .hero-image-block {
    min-width: 100%; /*Чтобы растянуть картинку на все 100%*/
    margin-bottom: 60px;
  }

  /*Дополнительо в картинке растягиваем на всю ширину*/
  .hero-img {
    width: 100%;
  }
  .readers-photos {
    justify-content: space-around;
    max-width: 560px;
    min-width: 480px;
  }

  .reader-photo {
    width: 167px;
    height: 167px;
  }

  .photo-7,
  .photo-8,
  .photo-9,
  .photo-10,
  .photo-11,
  .photo-12 {
    display: none;
  }

  .footer-requisites {
    margin-right: 42px;
    margin-bottom: 60px;
  }

  .footer-information {
    margin-right: 0;
  }

  .add-favorites {
    margin-left: 110px;
  }
}

@media (max-width: 576px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 95%; /*Такое вот хорошо на смартфонах*/
  }

  .hero-autor {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 19px;
  }

  .hero-subtitle {
    margin-bottom: 30px;
  }

  .hero-info {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .info-text {
    flex-basis: 100%;
    margin-bottom: 19px;
  }

  .hero-buttons {
    flex-direction: column;
    text-align: center;
  }

  .button {
    max-width: 100%;
    min-width: 100%;
  }

  .button-read {
    margin-bottom: 20px;
  }

  .about-book {
    margin-bottom: 70px;
  }

  .about-author {
    padding: 54px 44px;
  }

  .author-text {
    font-size: 14px;
  }

  .author-avatar {
    width: 64px;
    height: 64px;
  }

  .readers {
    margin-top: 55px;
  }

  .reader-photo {
    width: 145px;
    height: 145px;
  }

  .section-title {
    margin-bottom: -5px;
  }

  .footer-requisites,
  .footer-information,
  .footer-contacts {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 36px;
    text-align: center;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .footer-link {
    font-size: 16px;
  }

  .favorites-text {
    display: none;
  }

  .add-favorites {
    width: 30px;
    margin-left: 20px;
  }

  .pricetag {
    max-width: 150px;
    min-width: 150px;
  }
}

@media (max-width: 540px) {
  .hero-price {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .pricetag {
    font-size: 40px;
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 95%; /*Такое вот хорошо на смартфонах*/
  }

  .hero-author {
    font-size: 16px;
  }

  .hero-title {
    font-size: 27px;
  }

  .hero-subtitle {
    font-size: 27px;
  }

  .hero-text {
    max-width: 100%;
    min-width: 100%;
  }

  .pricetag {
    max-width: 120px;
    min-width: 120px;
    margin-right: 0;
  }

  .readers-photos {
    max-width: 400px;
    min-width: 400px;
  }

  .reader-photo {
    max-width: 145px;
    min-width: 145px;
    max-height: 145px;
    min-height: 145px;
    padding: 10px;
  }

  .photo-5,
  .photo-6 {
    display: none;
  }

  .about-author {
    align-items: center;
  }

  .author-name {
    margin-top: 10px;
    margin: auto;
  }

  .author-bio {
    padding-top: 10px;
    margin: 0;
    text-align: center;
  }

  .author-avatar {
    width: 64px;
    height: 64px;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 80%;
  }

  .header-container {
    margin: 0px;
  }

  .logo {
    margin-left: 10px;
  }

  .login {
    margin-right: 20px;
  }

  .about-author {
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
    max-width: 260px;
    min-width: 260px;
  }

  .hero-author {
    font-size: 16px;
  }

  .hero-title {
    font-size: 27px;
  }

  .hero-subtitle {
    font-size: 27px;
  }

  .hero-text {
    max-width: 100%;
    min-width: 100%;
  }

  .pricetag {
    max-width: 120px;
    min-width: 120px;
    margin-right: 0;
  }

  .readers-photos {
    max-width: 250px;
    min-width: 250px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .reader-photo {
    max-width: 125px;
    min-width: 125px;
    max-height: 125px;
    min-height: 125px;
    padding: 10px;
  }

  .photo-5,
  .photo-6 {
    display: none;
  }

  .about-author {
    align-items: center;
  }

  .author-name {
    margin-top: 10px;
    margin: auto;
  }

  .author-bio {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    text-align: center;
  }

  .author-avatar {
    width: 64px;
    height: 64px;
    margin: auto;
    margin-bottom: 10px;
  }
}
